---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { TITLE, DESCRIPTION, KEYWORDS, LOGO } from '../components/Constants.ts';
//const { frontmatter } = Astro.props;
//const { pageTitle } = frontmatter;
import { ViewTransitions, fade } from 'astro:transitions';
---

<script>
	import '../scripts/menu.js';
	window.addEventListener('navigate', () => {
		console.log('navigated');
	});
</script>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<link rel="canonical" href="HTTPS://..." />

		<meta name="description" content={DESCRIPTION} />
		<meta name="keywords" content={KEYWORDS} />
		<meta name="theme-color" content="#000" />
		<meta name="msapplication-navbutton-color" content="#000" />
		<meta name="apple-mobile-web-app-status-bar-style" content="#000" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta name="msapplication-config" content="img/browserconfig.xml" />

		<!-- <meta name="view-transtions" content="same-origin" /> -->

		<meta property="og:title" content={TITLE} />
		<meta property="og:name" content={DESCRIPTION} />
		<meta property="og:url" content={DESCRIPTION} />
		<meta property="og:image" content={LOGO} />
		<meta property="og:description" content={DESCRIPTION} />
		<meta property="og:type" content="website" />

		<!-- FAVICONS -->
		<link rel="icon" type="image/svg+xml" href="./img/favicon.svg" />
		<link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="./img/favicon-16x16.png" />
		<!-- <link rel="manifest" href="site.webmanifest" /> -->
		<link rel="mask-icon" href="./img/safari-pinned-tab.svg" color="#ffffff" />
		<link rel="shortcut icon" href="./img/favicon.ico" />

		<!-- JSON-LD  -->
		<script type="application/ld+json">
			{
				"@context": "http://www.schema.org",
				"@type": "LocalBusiness",
				"name": "",
				"alternateName": "",
				"url": "",
				"logo": "",
				"image": "",
				"description": "",
				"address": {
					"@type": "PostalAddress",
					"streetAddress": "",
					"addressLocality": "",
					"addressRegion": "",
					"postalCode": "",
					"addressCountry": ""
				}
			}
		</script>

		<!-- GOOGLE TAG (gtag.js) -->

		<title></title>
		<ViewTransitions />
	</head>
	<body transition:animate={fade({ duration: '.4s' })}>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
